.wrapper {
    width: 70%;
    background-color: #E8E8E8;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.container {
    margin-top: 20px;
}

h1 {
    padding: 20px;
}